@model OrderRequestPageVm

<form asp-controller="Shopping" asp-action="ConfirmOrder" method="post">
    <div class="form-group">
        <label class="col-2 control-label">Gonderim Adresi</label>
        <div class="10">
            <input asp-for="Order.ShippingAddress" class="form-control" />
        </div>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="form-group">
            <label class="col-2 control-label">Email Adresi</label>
            <div class="10">
                <input asp-for="Order.UserEmail" class="form-control" />
            </div>
        </div>

    <div class="form-group">
            <label class="col-2 control-label">Isim soyisim</label>
            <div class="10">
                <input asp-for="Order.UserDescription" class="form-control" />
            </div>
        </div>
    }

@*    <div class="form-group">
            <label class="col-2 control-label">CVV</label>
            <div class="10">
                <input asp-for="PaymentRequestModel.CVV" class="form-control" />
            </div>
        </div>

           <div class="form-group">
            <label class="col-2 control-label">Gecerlilik Yili</label>
            <div class="10">
                <input asp-for="PaymentRequestModel.ExpiryYear" class="form-control" />
            </div>
        </div>

           <div class="form-group">
            <label class="col-2 control-label">Gecerlilik Ayi</label>
            <div class="10">
                <input asp-for="PaymentRequestModel.ExpiryMonunt" class="form-control" />
            </div>
        </div>

           <div class="form-group">
            <label class="col-2 control-label">Kart Numarasi</label>
            <div class="10">
                <input asp-for="PaymentRequestModel.CardNumber" class="form-control" />
            </div>
        </div> *@
        <button type="submit" class="btn btn-primary">Siparişi Onayla</button>
</form>